<p class="editeur">
	<textarea id="emplacement_nouveau_message" class="form-control">
	</textarea>
		<script>
			init_editeur('emplacement_nouveau_message');
		</script>
	<div class="help-block">Vous pouvez agrandir la fenêtre
		<span onclick="publier_message('<%= nom_utilisateur %>');"
			class="btn btn-primary publication_message" >
			Publier
		</span>
	</div>
</p>